<div class="content">
    <div class="logo">Yostik Logo</div>
    <a href="https://m.me/996300613767577" class="messenger-button">
      <i class="messenger-button--icon"></i>
      <span>Message Me</span>
    </a>
</div>
